<div><b>Menu</b></div>
<a href="{{ '/' | relative_url }}">🏡 <b>Home</b></a>
<a href="{{ '/about/' | relative_url }}">🌸 <b>About</b></a>
<details class="submenu">
  <summary>🎨 <b>Portfolio</b></summary>
  <a href="/portfolio-game-assets/">🎮 Game Assets</a>
  <a href="/portfolio-game-projects/">🎮 Game Projects</a>
  <a href="/portfolio-3d/">🧊 3D</a>
  <a href="/portfolio-illustrations/">🖌️ Illustrations</a>
  <a href="/portfolio-arts-and-crafts/">✂️ Arts and Crafts</a>
</details>
<a href="{{ '/blog/' | relative_url }}">📝 <b>Blog</b></a>
<a href="{{ '/tutorials/' | relative_url }}">📚 <b>Tutorials</b></a>

<a href="{{ '/inspirations/' | relative_url }}">🌱 <b>Inspirations</b></a>

<br />
<div><b>Links</b></div>
<a href="https://www.artstation.com/cecilialof" target="_blank"
  >🖌️ <b>ArtStation</b></a
>
<a href="#">👩‍💻 <b>GitHub</b></a>
<a href="https://littleleaf3d.itch.io/" target="_blank">🕹️ <b>Itch.io</b></a>
