<div>Menu</div>
<a href="{{ '/' | relative_url }}">🏡 Home</a>
<a href="{{ '/about/' | relative_url }}">🌸 About</a>
<details class="submenu">
  <summary>🎨 Portfolio</summary>
  <a href="/portfolio-game-assets/">🎮 Game Assets</a>
  <a href="/portfolio-3d/">🧊 3D</a>
  <a href="/portfolio-illustrations/">🖌️ Illustrations</a>
  <a href="/portfolio-arts-and-crafts/">✂️ Arts and Crafts</a>
</details>
<a href="{{ '/blog/' | relative_url }}">📝 Blog</a>
<a href="{{ '/tutorials/' | relative_url }}">📚 Tutorials</a>

<a href="{{ '/inspirations/' | relative_url }}">🌱 Inspirations</a>

<br />
<div>Links</div>
<a href="https://www.artstation.com/cecilialof" target="_blank">ArtStation</a>
<a href="#">GitHub</a>
<a href="https://littleleaf3d.itch.io/" target="_blank">Itch.io</a>
