html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background: url(hip-square.png) repeat fixed;
  background-color: #fff7eb;
  margin: 0;
  padding: 0;
}

hr {
  border: 1px dashed #264653;
  opacity: 0.3;
  margin: 1.5em 0;
}

#main {
  width: 100%;
  max-width: 950px;
  margin: 20px auto;
}

#main_content {
  overflow: auto;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 1000px;
  max-width: 950px;
  padding: 0px;
  margin: 0px auto 0 auto;
  background: #fff7eb;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 10px 10px rgba(231, 110, 80, 0.4);
}

#main_content img {
  border-radius: 10px;
}

#main::after {
  content: "";
  display: table;
  clear: both;
}

#header {
  width: 950px;
  height: 102px;
  color: #2a9d8f;
}

#footer {
  height: 46px;
  width: 100%; /* Make it responsive */
  max-width: 950px; /* Keeps it from stretching too far */
  margin: 0px auto 0 auto;
  background-color: #2a9d8f;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  box-shadow: 10px 10px rgba(231, 110, 80, 0.4);
}
#footer p {
  color: #fcf1ee;
}

h1,
h2,
h3,
h4 {
  color: #264653;
  margin: 0 0 5px 0;
  padding: 5px 0 5px 0;
}

h2 a {
  text-decoration: none;
}
h2 a:hover {
  font-weight: bold;
  text-decoration: underline;
}

p {
  color: #264653;
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

#menu_bar {
  width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  top: 0;
  margin-bottom: -10px; /* Pull tabs down into content slightly */
  z-index: 2;
}

.tab {
  padding: 10px 20px; /* Add space inside the tab */
  background-color: #2a9d8f;
  color: #264653;
  text-align: center;
  font-size: 18px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  margin-right: 10px; /* Space between tabs */
  transition: background-color 0.3s ease; /* Smooth background change */
}

#about_me_right ul {
  padding-left: 20px; /* controls indentation */
  margin-top: 5px;
  margin-bottom: 15px;
}

.tab a {
  color: #fcf1ee;
}

.tab:hover a {
  color: #fcf1ee;
}

.tab:hover {
  background-color: #f4a261; /* Darken on hover */
}

.tab:active {
  background-color: #e76f51; /* Darken when clicked */
}

a {
  text-decoration: none;
  color: #e76f51;
}
a:hover {
  cursor: pointer;
}

#main,
#header,
#logo,
#menubar,
#site_content,
#footer {
  margin-left: auto;
  margin-right: auto;
}

.column {
  padding: 20px;
  width: 400px; /* or whatever fixed width you want */
  word-break: break-word;
  overflow-wrap: break-word;
}

.column.left,
.column.right {
  flex: 1; /* Allows flexible resizing */
  width: 45%; /* Maintain a reasonable fixed width */
}

.column h2 {
  text-align: center;
}

#about_me {
  padding: 0px 20px 20px 20px;
}

#about_me_right {
  padding: 0px 20px 20px 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 2 items per row */
  margin: 0 auto; /* Centers the grid container itself */
  gap: 80px;
  padding: 1em;
}

.portfolio-grid h3 {
  text-align: left;
  font-style: italic;
}

#portfolio-template {
  margin: 0 auto;
}

#portfolio-template h2 {
  text-align: center;
  padding-top: 10px;
}

#portfolio-category-content {
  margin: auto;
  padding: 30px;
}

#portfolio-category-content h2 {
  text-align: center;
}

#portfolio-category-content h3 {
  padding-left: 15px;
  color: #bd4d31;
  background-color: #e8c468;
  border-radius: 10px;
}

#portfolio-category-content img {
  display: flex;
  margin: auto;
  padding: 5px;
}
#portfolio-category-content p {
  word-break: break-word;
  overflow-wrap: break-word;
  margin: auto;
  padding-left: 15px;
}

.portfolio-item {
  text-decoration: none;
  color: #000;
  transition: transform 0.2s ease;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
  box-shadow: 10px 10px rgba(231, 110, 80, 0.4);
  border-radius: 10px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.portfolio-item:hover {
  transform: scale(1.02);
}

/* Responsive Design: Adjust layout for smaller screens */
@media (max-width: 950px) {
  .portfolio-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* 1 item per row on smaller screens */
  }
}

.gallery {
  --s: 250px; /* control the size */
  --g: 10px; /* control the gap */
  --f: 1.5; /* control the scale factor */
  margin: auto;
  display: grid;
  gap: var(--g);
  width: calc(3 * var(--s) + 2 * var(--g));
  aspect-ratio: 1;
  grid-template-columns: repeat(3, auto);
}

.gallery > a > img {
  width: 0;
  height: 0;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.35s ease-in;
  border-radius: 10px;
}

.gallery a:hover img {
  filter: grayscale(0%);
  width: calc(var(--s) * var(--f));
  height: calc(var(--s) * var(--f));
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcf1ee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e76e50;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa5e4b;
}
